.blobs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13.5rem;
    margin-bottom: 14rem;

    @include max (800) {
        gap: 5rem;
    }

    &__item {
        max-width: 40rem;
        width: 100%;
        height: fit-content;
        aspect-ratio: 1;
        
        padding: 6rem;
        border-radius: 50%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.7rem;

        &:first-of-type {
            background-color: #4B75F9;
        }

        &:last-of-type {
            background-color: #F4317B;
        }

        figure {
            max-width: 12.3rem;
            width: 100%;

            @include max (800) {
                max-width: 8rem;
            }
        }

        span {
            font-size: 1.8rem;
            text-transform: uppercase;
            text-align: center;
            line-height: 2.4rem;
            max-width: 28.3rem;
            width: 100%;
        }
    }
}