@import '../abstracts/variables';

.contato {
    &__formulario {
        max-width: 98.1rem;
        width: 90%;
        margin: 11.8rem auto;

        p {
            font-size: 3rem;
            text-align: center;
            width: 100%;
            margin-bottom: 11.9rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            & > * {
                max-width: 100%;
                width: 100%;
            }

            input, textarea {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 3rem;
                
                padding: 2.7rem;
                background-color: #F0F0F0;
                border-radius: 3rem;
            }

            textarea {
                min-height: 26.9rem;
                resize: none;
            }

            button {
                background-color: #D8D018;
                padding: 2.5rem;

                font-size: 2.4rem;
                text-transform: uppercase;
                color: $white;

                border-radius: 16.5rem;
                cursor: pointer;
            }
        }
    }
}